html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  padding: 5px;
  border-radius: 10px;

}

.main-container h1 {
  text-align: center;
  background-image: 'puppies.jpg';
}
.messages-container {
  background-color: blue;
  width: 80%;
  margin: auto;
  border-radius: 5px;

}

.text-box {
  width: 40%;
  margin: auto;
  background-color: #f762cd;
  color: yellow;
}

p{
  text-align: left;
  margin-bottom: 3px;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  border: 3px solid;
  width: 75%;
  font-size: 17px;
  background-color: #f762cd;
  border-radius: 2.5px;

}

.message-time {
  color: #F0F0F0;
  display: inline;

}
.message-text {
  color: yellow;
  float: right;
  display: inline-block;
  

}
